@tailwind base;
@tailwind components;
@tailwind utilities;


.pagination{
    display: flex;
    width: 100%;
    padding: 2rem 5rem;
    justify-content: space-around;
}

.text-muted{
    text-align: center;
}

.page-item{
    font-weight: bold;
    font-size: 1rem;
    color:#E3D3B9;
    cursor: pointer;
}

.desplegable::after{

    content: '...';
    font-size: 2rem;
    transform: rotate(90deg);
    display: flex;
    justify-content: center;
    align-items: end;
    padding-bottom: 0.2rem;
    background-color: rgb(49, 50, 51);
    width: 3rem;
    height: 3rem;
    border-radius: 50%;
    position: fixed;
    top: 50%;
    right: -1rem;
    z-index: -1;
    opacity: 1;
    transition: opacity 0.2s ease-in-out;
}
.desplegable:hover::after{
      opacity: 0;
    
}


@layer utilities {
    /* Hide scrollbar for Chrome, Safari and Opera */
    .no-scrollbar::-webkit-scrollbar {
        display: none;
        
    }
   /* Hide scrollbar for IE, Edge and Firefox */
    .no-scrollbar {
        -ms-overflow-style: none;  /* IE and Edge */
        scrollbar-width: none;  /* Firefox */
  }
}

.box_border_animated {
    --border-angle: 0turn;
    --main-bg: conic-gradient(
        from var(--border-angle),
        #213,
        #112 5%,
        #112 60%,
        #213 95%
    );
    
    border: solid 2px transparent;
    
    --gradient-border: conic-gradient(from var(--border-angle), transparent 15%, rgba(247, 247, 228, 0.611), rgb(229, 237, 169) 99%, transparent);
    
    background: 
        var(--main-bg) padding-box, 
        var(--gradient-border) border-box, 
        var(--main-bg) border-box;
    
    background-position: center center;
    position: relative;
    display: flex;
    justify-content: center;
    text-shadow: 0 1px 0 #000;
  
    animation: border-spin 8s linear infinite;
}
.box_border_animated__rounded {

    --main-bg: conic-gradient(
        from var(--border-angle),
        #213,
        #112 5%,
        #112 60%,
        #213 95%
    );
    
    border: solid 2px transparent;
    
    --gradient-border: conic-gradient(from var(--border-angle), transparent 15%, rgba(247, 247, 228, 0.611), rgb(229, 237, 169) 99%, transparent);
    
    background: 
        var(--main-bg) padding-box, 
        var(--gradient-border) border-box, 
        var(--main-bg) border-box;
    
    
    position: relative;
    text-shadow: 0 1px 0 #000;
    animation: border-spin 8s linear infinite;
    width: fit-content;
    border-radius: 100%;
}

@keyframes border-spin {
    to {
        --border-angle: 1turn;
    }
}

/* Soporte para la animación de variables personalizadas */
@property --border-angle {
    syntax: "<angle>";
    inherits: false;
    initial-value: 0turn;
}

.titulo_hero{

    font-family:"Playwrite RO", cursive;
    color: white;
    transform: rotate(-5deg);
}
.m_titulo{
    

}

